/* Make the homepage logo smaller */
img.small-image {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  display: block !important;
  margin: 1rem auto !important;
  object-fit: cover !important;
}
