.sidebar-image {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 40px;
  border-radius: 8px;
  z-index: 10;
}
img.small-image {
   width: 60px !important;      /* Set desired width */
  height: 60px !important;     /* Make square */
  border-radius: 50% !important;
  display: block !important;
  margin: 1rem auto !important;
  object-fit: cover;       
}
